.container {
    display: grid;
    grid-template-columns: 10rem 18rem 10rem;
    grid-template-rows: 26rem 10rem;
    justify-content: center;
    gap: 2rem;
    margin-top: 10rem;
}

.button {
    width: 10rem;
    height: 26rem;
    border: 1px solid rgb(154, 150, 150);
    border-radius: 1rem;
    background-color: #F5F5F5;
}

.arrow {
    width: 10rem;
    height: 10rem;
}

.wordsLearned {
    grid-column: 2/3;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}