.word {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    margin-top: 0.1rem;
}

.paragraph {
    width: 25rem;
    height: 2rem;
    border: 1px solid #070707;
}

.addBtn {
    width: 4rem;
    height: 2.1rem;
    border: 1px solid #cce2dc;
    border-radius: 0.5rem;
    background-color: #cce2dc;
    font-weight: bold;
}

.editBtn {
    width: 2rem;
    height: 2.1rem;
    background-color: #e4c6f6;
    border: 1px solid #e4c6f6;
    border-radius: 0.5rem;
}

.deleteBtn {
    width: 2rem;
    height: 2.1rem;
    background-color: #f4b5c9;
    border: 1px solid #f4b5c9;
    border-radius: 0.5rem;
}

.word:hover {
    background-color: #cce2dc;
    cursor: pointer;
}

.selected {
    background-color: #cce2dc;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    margin-top: 0.1rem;
}

.wordInput {
    width: 25rem;
    height: 2.1rem;
}



